<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.api.manager.db.board.mapper.BoardMapper">

    <select id="selectBoard" resultType="kr.co.api.manager.db.board.model.DataModel">
        SELECT
              board_no
              , board_kind
              , board_title
              , board_content
              , board_writer
            --  , reply_no
              , reply_content
              , reply_sort
              , reply_depth
              , reg_date
              , chg_date
              , board_img_url
              , board_img_origin_nm
              , board_img_destination_nm
        FROM board
        WHERE 1 = 1
        ORDER BY board_no DESC, reply_sort ASC
        LIMIT 10
    </select>

    <insert id="insertBoard" parameterType="kr.co.api.manager.db.board.model.BoardModel">
        INSERT INTO board (board_kind, board_no, board_title, board_content, board_writer, reg_date, chg_date , board_img_url, board_img_origin_nm, board_img_destination_nm)
        VALUES (
                #{boardKind}
                , (SELECT IFNULL(MAX(b.board_no)+1, 0) FROM board b WHERE b.board_kind = #{boardKind})
                , #{boardTitle}
                , #{boardContent}
                , #{boardWriter}
                , NOW()
                , NOW()
                , #{boardImgUrl}
                , #{boardImgOriginNm}
                , #{boardImgDestinationNm}
                )
    </insert>

    <!--
    댓글의 댓글이면 댓글의 현재 깊이 값을 넘겨야함 그래야 +1함
    -->
    <insert id="insertReply" parameterType="kr.co.api.manager.db.board.model.ReplyModel">
        INSERT INTO board (board_kind, board_no, reply_content, reply_sort, reply_depth, reg_date, chg_date)
        VALUES (
                #{boardKind}
                , #{boardNo}
                , #{replyContent}
                , #{replySort}
                , #{replyDepth}
                , NOW()
                , NOW()
                )
    </insert>

    <insert id="updateTest" parameterType="kr.co.api.manager.db.test.model.Test">
        UPDATE test
        SET
            text = #{text}
        WHERE id = #{id}
    </insert>

    <delete id="deleteTest">
        DELETE FROM test WHERE id = #{id}
    </delete>

    <insert id="insertProduct" parameterType="kr.co.api.manager.db.board.model.ProductModel">
        INSERT INTO flio.product(
                    product_name
                    , title
                    , content
                    , caregory_depth1
                    , caregory_depth2
                    , caregory_option
                    , status
                    , sale_yn
                    , tag
                    , base_url
                    , image_url
                    , use_date
                    , purchase_kind
                    , purchase_price
                    , box_yn
                    , brand
                    , purpose
                    , model_no
                    , serial_no
                    , repair_yn
                    , product_related_url
                    , uid
                    , reg_date
        )
        VALUES(
                #{productName}
                , #{title}
                , #{content}
                , #{caregoryDepth1}
                , #{caregoryDepth2}
                , #{caregoryOption}
                , #{status}
                , 'S'
                , #{tag}
                , #{baseUrl}
                , #{imageUrl}
                , #{useDate}
                , #{purchaseKind}
                , #{purchasePrice}
                , #{boxYn}
                , #{brand}
                , #{purpose}
                , #{modelNo}
                , #{serialNo}
                , #{repairYn}
                , #{productRelatedUrl}
                , #{uid}
                , CURRENT_TIMESTAMP);
    </insert>

    <!-- product select field -->
    <sql id="productField">
            product_id
            , product_name
            , title
            , content
            , caregory_depth1
            , caregory_depth2
            , caregory_option
            , recommend_cnt
            , select_cnt
            , status
            , sale_yn
            , tag
            , base_url
            , image_url
            , use_date
            , purchase_kind
            , purchase_price
            , box_yn
            , brand
            , purpose
            , model_no
            , serial_no
            , repair_yn
            , product_related_url
            , uid
            , reg_date
    </sql>

    <!-- 마이페이지 -->
    <select id="mypageProduct" parameterType="String" resultType="kr.co.api.manager.db.board.model.ProductModel">
        SELECT
            <include refid="productField" />
        FROM flio.product
        WHERE 1 = 1
            AND uid = #{uid}
        ORDER BY recommend_cnt DESC, select_cnt DESC, reg_date DESC
    </select>

    <!-- 메인페이지 -->
    <select id="mainProduct" resultType="kr.co.api.manager.db.board.model.ProductModel">
        SELECT
            <include refid="productField" />
        FROM flio.product
        WHERE 1 = 1
        ORDER BY recommend_cnt DESC, select_cnt DESC, reg_date DESC
    </select>

    <!-- 추천매물 -->
    <select id="recommendProduct" parameterType="String" resultType="kr.co.api.manager.db.board.model.ProductModel">
        SELECT
            <include refid="productField" />
        FROM flio.product
        WHERE 1 = 1
            AND category_depth1 = #{categoryDepth1}
            <if test="categoryDepth2 != null">
                AND category_depth2 = #{categoryDepth2}
            </if>
        ORDER BY recommend_cnt DESC, select_cnt DESC, reg_date DESC
    </select>

    <!-- 상세물품페이지 -->
    <select id="detailProduct" parameterType="String" resultType="kr.co.api.manager.db.board.model.ProductModel">
        SELECT
            <include refid="productField" />
        FROM flio.product
        WHERE 1 = 1
            AND product_id = #{productId}
    </select>

    <!-- 상세물품페이지 관련매물 -->
    <select id="purposeProduct" parameterType="String" resultType="kr.co.api.manager.db.board.model.ProductModel">
        SELECT
            <include refid="productField" />
        FROM flio.product
        WHERE 1 = 1
            AND purpose = #{purpose}
        ORDER BY recommend_cnt DESC, select_cnt DESC, reg_date DESC
    </select>


    <!-- 장터태그 & 장터내용 검색 -->
    <select id="searchProduct" parameterType="String" resultType="kr.co.api.manager.db.board.model.ProductModel">
        SELECT
            <include refid="productField" />
        FROM flio.product
        WHERE 1 = 1
            AND
                (
                    tag LIKE CONCAT('%', #{keyword}, '%')
                    OR
                    content LIKE CONCAT('%', #{keyword}, '%')
                )
        ORDER BY recommend_cnt DESC, select_cnt DESC, reg_date DESC
    </select>

    <!-- 인증 검색 / 테이블 미구현 -->
    <!-- 행사 검색 / 테이블 미구현 -->
</mapper>